@use 'sass:meta';
@use 'sass:map';

$breakpoints: (
  mobile: 720px,
  tablet: 1245px,
);

@mixin breakpoint($breakpoint) {
  @if meta.type-of($breakpoint) == 'string' {
    @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if meta.type-of($breakpoint) == 'number' {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}
