.container {
  width: 525px;
  margin: 0 auto;
}

.title {
  margin-bottom: 40px;
}

.field {
  margin-bottom: 16px;
}

.error {
  margin-bottom: 16px;
  color: #f44336;
  font-size: 14px;
}

.submitBtn {
  margin-bottom: 16px;
}
