@use 'app/styles/mixins' as *;

.header {
  height: 80px;
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow01);

  .container {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 40px;

        li {
          transition: all 0.2s;
          &:hover {
            color: var(--primary);
          }
        }

        @include breakpoint('mobile') {
          gap: 20px;
        }
      }

      @include breakpoint('mobile') {
        display: none;
      }
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 20px;

      .dropdown {
        width: 100px;
        @include breakpoint('mobile') {
          width: 50px;
        }
      }

      @include breakpoint('mobile') {
        gap: 12px;
      }
    }
  }
}

.responsiveNav {
  max-height: 0;
  position: fixed;
  z-index: 1000;
  top: 80px;
  width: 100%;
  background-color: var(--white);
  transition: all 0.3s;
  overflow: hidden;
  padding-top: 0;

  &.isOpen {
    max-height: 500px;
    overflow: visible;
  }

  .innerNav {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
}
