.chatSidebar {
  width: 260px;
  background-color: var(--black);
  width: 100%;
  height: 100%;

  .top {
    padding-top: 24px;
    padding-bottom: 14px;
    border-bottom: solid 1px var(--grey02);
  }

  .middle {
    margin-top: 24px;
    margin-bottom: 14px;

    .chatList {
      margin-top: 16px;
      .chatItem {
        padding: 10px;
        transition: 0.3s;

        &:hover {
          background-color: var(--bg3);
        }
      }
    }
  }
}
