@use 'app/styles/mixins' as *;

.gallerySection {
  margin-top: 40px;
  padding-bottom: 60px;

  @include breakpoint('mobile') {
    margin-top: 20px;
    padding-bottom: 40px;
  }

  .galleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;

    @include breakpoint(990px) {
      grid-template-columns: minmax(0, 600px);
      justify-content: center;
      gap: 16px;
    }

    @include breakpoint('mobile') {
      grid-template-columns: minmax(0, 100%);
      justify-content: center;
      gap: 14px;
    }
  }
}
